.Navbar {
  width: 100%;
  height: 50px;
  background-color: #8f84eb;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;

  .navBar-left {
    margin: 0 30px;
    font-size: 20px;
  }

  .navBar-right {
    padding: 5px;
    display: flex;
    align-items: center;
  }
}
