.NewChannelModel {
  margin: 200px auto;
  display: flex;
  justify-content: center;
  background-color: grey;
  padding: 20px 50px;

  form {
    .container-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
    }
    .inputDiv {
      .Input {
        margin-bottom: 20px;
      }
    }
  }
}
